@import "tailwindcss";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #1f2937;
  background-color: #f9fafb;
}

a {
  color: #2563eb;
}

a:hover {
  color: #1e40af;
}
